//- extends ./organismo/header.pug

block text
	h2 ola

mixin list(id, ...items)
  ul(id=id)
    each item in items
      li.lista-item
        a(href="#" class="lista-link" title=item )= item

+list('my-list', 1, 2, 3, 4)

+list('teste', 1, 2)

//------------------------------------------------------
- for (var x = 0; x < 3; x++)
  li item

ul.bxslider2
- for (var x = 0; x < 6; x++)
	li.item-video
		.thumb-video
			img(src="img/thumb-videos.jpg", alt="", class="img-full")
		a(href="#" class="" title=slider1)
			h2 #{slider1}
		p #{slider2}



	.box-videos
		- var n = 0;
		ul.bxslider2
			while n < 6
				li.item-video= n++
					.thumb-video
						img(src="img/thumb-videos.jpg", alt="", class="img-full")
					a(href="#" class="" title=slider1)
						h2 #{slider1}
					p #{slider2}

//------------------------------------------------------
-
  var list = ["Uno", "Dos", "Tres",
          "Cuatro", "Cinco", "Seis"]

each item in list
  li.lista-item
    a(href="#" class="lista-link" title=item )= item

//teste



mixin list(id, ...items)
  ul(id=id)
    each item in items
      li.lista-item
        a(href="#" class="lista-link" title=item )= item
//teste

     each item in list
      li= item.a
      li= item.p

      - var list = [{"a": "1","p": "2"},{"a": "3","p": "4"}]
