//- menu arrays 
mixin menu2(id)
	ul(class=id)
		each item in menu
			li.menu-item
				a(href="#" class="menu-link" title=item )= item

//- menu
mixin menu(id, ...items)
	ul(class=id)
		each item in items
			li.menu-item
				a(href="#" class="menu-link" title=item )= item

//- redes sociais
mixin sociais(id, ...items)
	ul(class=id)
		each item in items
			li.menu-item
				a(href="#" class="menu-link" title=item )= item

//- slider
mixin slider(id,  ...items)
	ul(class=id)
		- for (var x = 0; x < 2; x++)
			li
				.slider-left
					a(href="#" class="slider-link") 
						img(src="img/slider1.jpg", alt="", class="img-full")

//- //- +menu('menu-list', menu1, menu2, menu3, menu4)
//- mixin menu(id, ...items)
//- 	ul(class=id)
//- 		each item in items
//- 			li.menu-item
//- 				a(href="#" class="menu-link" class={ativo: item === menuativo} title=item )= item


//- bloco slider
mixin slider(id,  ...items)
	ul(class=id)
		- for (var x = 0; x < 5; x++)
			li
				.slider-left
					a(href="#" class="slider-link") 
						img(src="img/slider1.jpg", alt="", class="img-full")
						.content
							h2.titulo Season 8 EP XII
							p.sub-titulo Confira os novos updates
				.slider-right
					.item
						a(href="#") 
							img(src="img/slider2-1.jpg", alt="", class="img-full")
							.content
								h2.titulo Party com XP Extra
								p.sub-titulo Participe e receba bônus EXP
					.item
						a(href="#") 
							img(src="img/slider2-2.jpg", alt="", class="img-full")
							.content
								h2.titulo DROP Valorizado
								p.sub-titulo Itens e jóias super valorizados

//- bloco incremento variaveis
mixin slider1()
	.box-videos
		- var n = 0;
		ul.bxslider2
			while n < 6
				li.item-video= n++
					.thumb-video
						img(src="img/thumb-videos.jpg", alt="", class="img-full")
					a(href="#" class="" title=slider1)
						h2 #{slider1}
					p #{slider2}

//- //------------------------------------------------------
//- -
//-   var list = ["Uno", "Dos", "Tres",
//-           "Cuatro", "Cinco", "Seis"]

//- each item in list
//-   li.lista-item
//-     a(href="#" class="lista-link" title=item )= item


